.item-list-container {
    display: flex;
    flex-direction: column;
}

.list {
    list-style: none;
    padding-left: 0;
}

.list-item {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
    padding-bottom: 8px;
}
